.edit {
  position: relative;
  margin: 0;
  width: 100%;
  //  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  //  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#pixel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#pixel-list li {
  position: relative;
  //  font-size: 24px;
  //  border-bottom: 1px solid #ededed;
}

#pixel-list li:last-child {
  border-bottom: none;
}

#pixel-list li .edit {
  display: none;
}

#pixel-list li.editing {
  border-bottom: none;
  padding: 0;
}

#pixel-list li.editing .view {
  display: none;
}

#pixel-list li.editing .edit {
  display: block;
  //  width: 506px;
  //  padding: 13px 17px 12px 17px;
  //  margin: 0 0 0 43px;
}

#pixel-list li label {
  white-space: pre;
  //  font-size: 24px;
  //  word-break: break-word;
  //  padding: 15px 60px 15px 15px;
  //  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

#pixel-list li.editing:last-child {
  margin-bottom: -1px;
}

#advertiser-list dt {
  background-color: lightgray;
  margin: 0 0 0 0;
}

#new-advertiser {
  border: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
