$main-theme-color: rgba(175, 47, 47, 0.15);

body {
  padding: 0;
  background-color: #f5f5f5;
}

#main {

}

#main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 80px;
    color: $main-theme-color;
    text-align: center;
    text-rendering: optimizeLegibility;
  }
  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 40px;
    color: $main-theme-color;
    text-align: center;
    text-rendering: optimizeLegibility;
  }
  .back-button {
    position: relative;
    top:15px;
  }
}

.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: small;
  //  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  background-color: inherit;
  padding: 6px;
  //  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#pixel-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    .edit {
      display: none;
    }
    .editing {
      border-bottom: none;
      padding: 0;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

#pixel-list li.editing .view {
  display: none;
}

#pixel-list li.editing .edit {
  display: block;
}

#pixel-list li label {
  white-space: pre;
  line-height: 1.2;
  transition: color 0.4s;
}

#pixel-list li.editing:last-child {
  margin-bottom: -1px;
}

.black-badge {
  display: inline-block;
  vertical-align: middle;
  background-color: black;
  color: white;
  border-radius: 50%;
}
#advertiser-list {
  .zippy {
    padding: 1px;
  }
  dt {
    background-color: $main-theme-color;
    margin: 0 0 0 0;
    font-size: x-large;
    .title {
      padding-left: 47px;
      font-weight: 300;
    }
    .badge {
      font-weight: 200;
      display: inline-block;
      .number {
        font-size: large;
        width:24px;
        height:24px;
        display:inline-block;
        vertical-align:middle;
        background-color: white;
        border-radius: 50%;
      }
    }
    .commands {
      font-weight: 200;
      display: inline-block;
      span {
        font-size: small;
        display:inline-block;
        vertical-align:middle;
      }
    }
  }
}

#advertiser-form {
  .advertiser-commands{
    position:relative;
    top: 6px;
  }
  .advertiser-inputs {
    position:relative;
    top: -60px;
  }
  .fields {
    margin-bottom:8px;
    padding: 5px 5px 5px 32px;
    border: none;
  }
}

.description{
  font-size: small;
  color: grey;
  padding-left: 32px;
}

#advertiser-list dt:focus {outline:none;}
#pixel-list div:focus {outline:none;}
#pixel-list .delete:focus {outline:none;}

#new-advertiser {
  border: none;
  padding: 16px 16px 16px 32px;
  margin: 0;
  height:50px;
  font-size: x-large;
  font-weight: 200;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.down-advertisers {
  position: relative;
  top: -58px;
}

#pixel-list {
  padding-left: 22px;
  .pixel-box {
    height: 80px;
    border-radius: 3px;
    background-color: $main-theme-color;
    .title {
      text-align: center;
    }
    .clear-delete {
      color: rgba(0, 0, 0, 0);
    }
    .fires{
      color: white;
      font-weight: 400;
      position: relative;
      top: 7px;
      font-size: small;
      text-align: center;
    }
    .see-more {
      position: relative;
      top: 5px;
      font-size: small;
      text-align: center;
    }
  }
}

.learn{
  a {
    font-weight: normal;
    text-decoration: none;
    color: #b83f45;
  }
  a:hover {
    text-decoration: underline;
    color: #787e7e;
  }
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px dashed #C5C5C5;
  border-bottom: 1px dashed #F7F7F7;
}

.learn {
  margin: 10px 0;
  font-weight: 500;
  line-height: 1.2;
  color: #000;

  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 19px;
  }
  h5 {
    margin-bottom: 0;
    font-size: 15px;
  }
  p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.learn-bar > .learn {
  position: absolute;
  width: 312px;
  top: 8px;
  left: -330px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

@media (min-width: 949px) {
  .learn-bar {
    width: auto;
    margin: 0 0 0 300px;
  }

  .learn-bar > .learn {
    left: 8px;
  }

  .learn-bar #finalApp {
    width: 550px;
    margin: 130px auto 40px auto;
  }
}
.chart
{
  padding-top: 50px;
}

.area-chart {
  width: 400px;
  height: 240px;
  border: 1px solid black;
  margin-top: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
