<aside class="learn">

  <div class="header">
    <h3> Description</h3>

    <h4>Advertisers</h4>

    <h5>New</h5>
    <div>
      <p>To <b>add</b> a new one type a name.</p>
      <p>To <b>submit</b> hit Enter or click +. Esc to exit.</p>
      <p>To <b>search</b> type the name, if the advertiser already exists, it will be loaded.</p>
    </div>

    <h5>Details</h5>
    <div>
      <p>Click on advertiser name to <b>view</b> properties.</p>
      <p>The number shows the <b>pixels</b> that belong to the advertiser.</p>
      <p>When hovering over the advertiser name you can click on <b>edit</b> or <b>delete</b>.</p>
    </div>

    <h5>Edit</h5>
      <p>When edit is clicked the advertiser <b>details</b> are loaded.</p>
      <p>To <b>submit</b> the new data hit Enter or +. Esc to exit.</p>
      <p>If the advertiser name is cleared and then submitted the advertiser will be removed.</p>
    <hr>

    <h4>Pixels</h4>
    <p>To <b>add</b> a pixel click on 'add new pixel +'. Hit Enter to add or Esc to cancel.</p>
    <p>To <b>edit</b> an existing pixel double click on the pixel name. Hit Enter to edit or Esc to cancel</p>

    <hr>
    <h4>Fires</h4>
    <p><b>Hover</b> over a pixel to show the fires, if they exist.</p>
    <p>Click on fires or 'see more' to open a navigation page with a <b>graph</b> for the fires.</p>

    <hr>
    <p> Find the code on <a href="https://github.com/uh-joan/affectv">Github</a></p>

  </div>

</aside>

<div ui-view></div>

