<div>
  <h1>Afectv Dashboard</h1>

  <form id='advertiserForm' ng-submit="vm.addAdvertiser()">
    <div class="row">
      <div class="small-12 columns">
        <input id="new-advertiser" type="text" placeholder="new advertiser" ng-model="vm.newAdvertiser.name"
               ng-click="vm.toggleAdvertiserInput()" ng-keyup="$event.keyCode == 13 ? vm.addAdvertiser() : null"
               ng-change="vm.getAdvertiser()">
        <div ng-if="vm.showAdvertiserInput">
          <input placeholder='address' ng-model="vm.newAdvertiser.address" ng-keyup="$event.keyCode == 13 ? vm.addAdvertiser() : null">
          <input placeholder='city' ng-model="vm.newAdvertiser.city" ng-keyup="$event.keyCode == 13 ? vm.addAdvertiser() : null">
          <input placeholder='postcode' ng-model="vm.newAdvertiser.post_code" ng-keyup="$event.keyCode == 13 ? vm.addAdvertiser() : null">
          <input placeholder='telephone' ng-model="vm.newAdvertiser.tel" ng-keyup="$event.keyCode == 13 ? vm.addAdvertiser() : null">
          <div class="button" ng-click="vm.addAdvertiser()">Submit</div>
          <div class="button" ng-click="vm.cancelEdit()">Cancel</div>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="small-12 columns">
      <dl id="advertiser-list">
        <div zippy ng-repeat="advertiser in vm.advertisers" title="{{advertiser.name}}" badge="{{vm.badges[advertiser.id]}}"
             delete="vm.removeAdvertiser(advertiser)" edit="vm.editAdvertiser(advertiser)">
          <div>
            {{advertiser.address}}, {{advertiser.city}}<span ng-if="advertiser.post_code">, {{advertiser.post_code}}</span><span ng-if="advertiser.tel">, {{advertiser.tel}}</span>
          </div>
          <ul id="pixel-list" class="small-block-grid-3">
            <li ng-mouseenter="vm.getFires(pixel.id)" ng-repeat="pixel in vm.pixels | filter: vm.equals('advertiser_id', advertiser.id)"
                ng-class="{editing: pixel == vm.editedPixel}">

              <div pixely title="{{pixel.name}}" edit="vm.editPixel(pixel)" delete="vm.deletePixel(pixel)"
                   submit="vm.doneEditing(pixel, name)" escape="vm.revertEditing(pixel)" focus="pixel == vm.editedPixel">
                <div style="font-size: x-small;" ng-repeat="fire in vm.fires">{{fire.fires}}, {{fire.date | date:"MM/dd"}}</div>
              </div>
            </li>
            <li>
              <div newpixely submit="vm.createPixel(advertiser, name)"></div>
            </li>

          </ul>
        </div>
      </dl>
    </div>
  </div>

</div>
