
<div id="main">
  <h1>Affectv Dashboard</h1>

  <div class="row">
    <div class="small-8 small-offset-2 medium-10 medium-offset-1">

      <form novalidate id='advertiser-form' >
        <div class="row">
          <input autofocus tabindex="1" id="new-advertiser" type="text" placeholder="new advertiser" ng-model="vm.newAdvertiser.name"
                 ng-click="vm.toggleAdvertiserInput()" ng-keyup="$event.keyCode == 27 ? vm.cancelEdit() : null;"
                 ng-change="vm.getAdvertiser();vm.toggleAdvertiserInput(); ">
        </div>

        <div class="row " ng-show="vm.showAdvertiserInput" ng-cloak>
          <div class="row advertiser-commands">

            <div class="small-4 small-offset-8 columns">
              <div class="small-2 medium-4 large-6 columns"></span></div>

              <div class="small-5 medium-4 large-3 columns right">
                <md-button style="position: relative; right:85px" type="submit" ng-click="vm.addAdvertiser()" class="md-fab md-primary" aria-label="new">
                  <!--<md-icon md-svg-src="your/icon.svg"><i class="fa fa-bed"></i></md-icon>-->
                  <md-icon alt="add" ><span style="position: relative; top: -22px;font-size: 48px;left:-2px;"><strong>+</strong></span></md-icon>
                </md-button>

              </div>
              <div class="small-5 medium-4 large-3 columns right">
                <md-button style="position: relative; left:65px" type="submit" ng-click="vm.cancelEdit()" class="md-fab" aria-label="cancel">
                  <!--<md-icon md-svg-src="your/icon.svg"><i class="fa fa-bed"></i></md-icon>-->
                  <md-icon alt="cancel"><span style="position: relative; top: -17px;font-size: 32px;"><strong>X</strong></span></md-icon>
                </md-button>
              </div>
            </div>
          </div>
          <div  class="row advertiser-inputs">
            <div class="small-4 columns">
              <input tabindex="2" class="fields" placeholder='address' ng-model="vm.newAdvertiser.address" ng-keyup="$event.keyCode == 27 ? vm.cancelEdit() : null">
            </div>
            <div class="small-4 columns end">
              <input tabindex="3" class="fields"placeholder='postcode' ng-model="vm.newAdvertiser.post_code" ng-keyup="$event.keyCode == 27 ? vm.cancelEdit() : null">
            </div>
          </div>
          <div class="row advertiser-inputs">
            <div class="small-4 columns">
              <input tabindex="4" class="fields" placeholder='city' ng-model="vm.newAdvertiser.city" ng-keyup="$event.keyCode == 27 ? vm.cancelEdit() : null">
            </div>
            <div class="small-4 columns end">
              <input tabindex="5" class="fields" placeholder='telephone' ng-model="vm.newAdvertiser.tel" ng-keyup="$event.keyCode == 27 ? vm.cancelEdit() : null">
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>


  <div ng-class="{'down-advertisers' : vm.showAdvertiserInput}" class="row">
    <div class="small-8 small-offset-2 medium-10 medium-offset-1">

      <dl id="advertiser-list">

        <div class="row">
          <div zippy class="zippy" ng-repeat="advertiser in vm.advertisers" title="{{advertiser.name}}" badge="{{vm.badges[advertiser.id]}}"
               delete="vm.removeAdvertiser(advertiser)" edit="vm.editAdvertiser(advertiser)">
            <div class="description">
              <span ng-if="advertiser.address">{{advertiser.address}}, </span>
              <span ng-if="advertiser.city">{{advertiser.city}}, </span>
              <span ng-if="advertiser.post_code">{{advertiser.post_code}}, </span>
              <span ng-if="advertiser.tel">{{advertiser.tel}}</span>
              <span ng-if="!advertiser.address && !advertiser.city && !advertiser.post_code && !advertiser.tel">no data...</span>
            </div>
            <ul id="pixel-list" class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
              <li ng-mouseenter="vm.getFires(pixel.id)" ng-mouseleave="vm.cleanFires()" ng-repeat="pixel in vm.pixels | filter: vm.equals('advertiser_id', advertiser.id)"
                  ng-class="{editing: pixel == vm.editedPixel}">

                <div pixely class="pixely" title="{{pixel.name}}" edit="vm.editPixel(pixel)" delete="vm.deletePixel(pixel)"
                     submit="vm.doneEditing(pixel, name)" escape="vm.revertEditing(pixel)" focus="pixel == vm.editedPixel">
                  <div ng-click="vm.gotoPixels(pixel.id)" class="fires" ng-repeat="fire in vm.fires | limitTo:1">
                    {{fire.fires}}, {{fire.date | date:"MM/dd"}}
                  </div>
                  <div ng-if="vm.fires.length>0" class="see-more">see more...</div>
                </div>
              </li>
              <li>
                <div newpixely submit="vm.createPixel(advertiser, name)"></div>
              </li>

            </ul>
          </div>
        </div>

      </dl>

    </div>
  </div>

</div>
